* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

.app {
  background: url(../images/bg.webp) no-repeat center center;
  background-size: 100% 100%;
  background-position: center bottom;
  height: auto;
  max-width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 100px;
  margin-top: 10%;
}

.logo {
  width: 50%;
}

.title {
  width: 90%;
}

.text {
  width: 90%;
  margin-top: 5%;
}

.text {
  position: relative;
}

.btn {
  margin: 2% 0;
  width: 90%;
  display: flex;
  gap: 20px;
  align-items: center;
}

.btn1 {
  display: flex;
  align-items: center;
  margin: 5% 2% 2%;
  width: 90%;
  gap: 10px;
}

@keyframes scaleAnimation {
  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }
}

.btn a img,
.btn1 a img {
  animation: scaleAnimation 1.5s infinite ease-in-out;
}

.text-mb {
  display: none;
}

.content__main {
  width: 70%;
  position: relative;
}

.bg-qt {
  background: url(../images/bg-qt.webp);
  background-size: 100% 100%;
  height: 45vh;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.colon {
  font-size: 7rem;
  font-weight: bold;
  color: #fff;
  margin: 0;
}

.main__content {
  width: 100%;
}

.qt {
  width: 90%;
}

.countdown {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
  gap: 10px;
  width: 90%;
  position: absolute;
  bottom: 3%;
}

.time-block {
  border-radius: 16px;
  padding: 8px 0;
  text-align: center;
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0px;

  border: 0.401px solid #1c5601;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(0.8010438680648804px);
}

.number {
  font-size: 2.2rem;
  font-weight: bold;
  color: #fff;
  padding: 6px;
  padding-bottom: 0;
  border-radius: 10px;
}

.register {
  margin-top: 2%;
  width: 90%;
}

.label {
  font-size: 1.2rem;
  color: #00ff10;
  margin-top: 0px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 16%;
  padding: 30px;
  border: 4px solid #aaaaaa;
  border-radius: 12px;
  /* background: radial-gradient(#00153e, #00498b); */
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.8);
  /* background: url(./images/popup-bg.webp); */
  background: #fff;
  background-size: 100% 100%;
}

.popup .close {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 1.5rem;
  cursor: pointer;
  color: #fff;
  background: #008f32;
  border-radius: 100%;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-popup {
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #df251e;
}

.title-popup img {
  width: 35%;
}

.description {
  font-size: 2.5rem;
  line-height: 1.2;
  color: #000;
  text-align: center;
  font-weight: 500;
  margin: 20px 0;
}

.btn-km {
  display: block;
  text-align: center;
  font-size: 2rem;
  border-radius: 10px;
  color: #fff;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-km img {
  width: 100%;
}

.btn-km:hover {
  opacity: 0.7;
  cursor: pointer;
}

.footer {
  width: 100%;
}
@media screen and (max-width: 768px) {
  .bg-qt {
    background: url(../images/bg-qt.webp);
    background-size: 100% 100%;
  }

  .content {
    margin-top: 10%;
    width: 90%;
    gap: 5px;
  }

  .countdown {
    gap: 5px;
    margin-bottom: 2%;
  }

  .time-block {
    width: 20%;
    padding: 10px 0;
    border-radius: 16px;
    gap: 2px;
  }

  .logo {
    width: 50%;
  }

  .number {
    font-size: 1rem;
    padding: 0;
  }

  .label {
    font-size: 0.8rem;
  }

  .btn {
    width: 90%;
  }

  .text,
  .title {
    width: 80%;
  }

  .text {
    margin-top: 5%;
  }
}
